@import url(https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext);

body {
    font-family: "Ubuntu";
}

.login-header {
    margin-top:100px;
}

.login-footer {
    margin-top:10px;
}

#sidebar-wrapper > ul > li.sidebar-main > a {
    font-size:13px;
}


#content-wrapper > div > div.row.header > div > div.logo > img {
    height:50px;
}

.widget-header {
    background-color:#2c3e50;
    color:white;
}

.full {
    margin-left:-70px;
}