<div class="row header">
  <div class="col-xs-12">
    <div class="user pull-right">
      <div class="item dropdown">
        <a href="#" class="dropdown-toggle">
          <img src="img/avatar.jpg">
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">
            Furkan Başaran
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#/cikis">
                Çıkış
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="logo">
        <img style="height:40px;margin-top:10px" src="http://www.polisoft.com.tr/Content/images/global/logo.png" class="logo-img">
    </div>
  </div>
</div>