<div class="container">
    <div class="row">
        <div ng-show="error" class="login-header col-md-4 col-md-offset-4">
        <center>
        <img src="img/password25.png" class="login-header-img">
        <hr>
        <h3>Yetki Hatası</h3>
            {{error}}
            <hr>
            <strong>Polisoft Yazılım</strong>
        </center>
            
        </div>
        
        <div ng-hide="error" class="col-md-4 col-md-offset-4">
                <div class="login-header">
                    <center>
                        <img src="img/login_key.png" class="login-header-img">
                        <br>
                        <h2>Bilgi Yönetim Sistemi</h2>
                    </center>
                </div>
                <form ng-submit="logIn()">
                    <div class="form-group">
                        <label for="tc">TC Kimlik No</label>
                        <input disabled type="tel" ng-model="credentials.tc" name="tc" id="tc" value="" class="form-control" />    
                    </div>
                    <div class="form-group">
                        <label for="password">Portal Şifreniz</label>
                        <input type="password" ng-model="credentials.password" name="password" id="password" placeholder="Portal Şifreniz" class="form-control" required/>    
                    </div>
                    <div class="form-group">
                        <input type="submit" value="{{credentials.username}} olarak devam edin" class="btn btn-primary btn-block" />    
                    </div>
                </form>   
                <div class="login-footer">
                    <center><strong>Polisoft Yazılım</strong></center>
                </div>
        </div>    
    </div>
</div>
