 <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Bilgi Yönetim Sistemi
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>Bağlantılar</span></li>
        <li class="sidebar-list">
          <a href="#/">Portal Anasayfa <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/tables">Kayıtlar <span class="menu-icon fa fa-tasks"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/tables">Kayıt Tipleri <span class="menu-icon fa fa-sitemap"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/tables">Kullanıcılar <span class="menu-icon fa fa-users"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-12">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            © 2016 Polisoft Yazılım
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->